@import url("https://fonts.googleapis.com/css?family=Raleway:300,500,700");
@import 'constants';


/* Global */
* {
  box-sizing: border-box;
}

body {
  color: $primaryTextColor;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  background-color: $primaryBackgroundColor;
}

h1 {
  font-size: 1.7em;
  font-weight: 700;
  line-height: 1.5em;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
}

h4 {
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h6 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: $primaryTextColor;
}

ul {
  list-style: none;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  border: solid 1px $primaryDarkColor;
  transition: all 0.3s ease-in;

  &:hover,
  &:focus {
    transform: translate(0px, -2px);
    -webkit-box-shadow: 0px 10px 7px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 7px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 7px -9px rgba(0, 0, 0, 0.75);
    transition: all 0.3s ease-out;
  }
}


form {
  display: flex;

    input:first-child {
    flex: 1 0 80%;
    background-color: transparent;
  }

    input:last-child {
    flex: 1 0 20%;
    border-left: 0;
    cursor: pointer;
    background-color: $lightGreenColor;
    transition: all 0.25s ease;
  }

}


#submit:hover {
  background-color: $primaryDarkColor;
  color: $primaryLightColor;
  transition: all 0.25s ease;
  -webkit-box-shadow: 0px 10px 7px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 7px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 7px -9px rgba(0, 0, 0, 0.75);
}

input {
  padding: 10px;
  border: 1px solid $primaryDarkColor;
}

/* Pas alleen de onderstaande regels aan */

/* Header */
header {
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: $standaardPadding;
  background-color: $lightGreenColor;
  height: 120px;
  -webkit-box-shadow: 0px 10px 7px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 7px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 7px -9px rgba(0, 0, 0, 0.75);
}

.brand-logo img {
  width: auto;
  padding-top: $standaardPadding;
  height: 7.5em;
}

.title {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 1em;
}

.title.title-right {
  justify-content: flex-end;
}

.line {
  width: 3em;
  height: 1px;
  background-color: $primaryDarkColor;
  margin-right: 1em;
}
.line.line-right {
  order: 2;
  margin-right: 0;
  margin-left: 1em;
}

/* Hero Section */
.hero {
  padding: $standaardPadding;
  display: flex;
  height: 100vh;
  align-items: center;
  background: $darkGreenColor;
}

.hero-img img {
  display: block;
  height: auto;
  width: 15.5em;
}

.hero-text {
  @include textStyling();
}

/* Featured Section */
.featured {
  padding: $standaardPadding;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }

}


#featured .image img {
  width: 300px;
}

.text-featured {
  @include textStyling();
}

.text-featured p {
  text-align: justify;
  padding: $standaardPadding;
  line-height: 1.4em;
}

/* About Section */

.text-about {
  @include textStyling();

  p {
    text-align: justify;
    padding-bottom: 1em;
    line-height: 1.4em;
  }

}
.about {
  background-color: $darkGreenColor;
  padding: $standaardPadding;

  .wrapper {
    display: flex;
  }

}

.video-wrapper {
  position: relative;
  padding-bottom: 33.25%;
  overflow: hidden;
  align-self: center;
  flex: 2 0 55%;
  margin: 1.4em 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}

/* Contact Section */
.contact {
  padding: $standaardPadding;
}

.wrapper .contact {
  display: flex;
  flex-wrap: wrap;
}

.form-wrapper,
.contact-wrapper {
  padding: $standaardPadding;
}

.copy-wrapper {
  padding-left: $standaardPadding;
}
